/*@font-face{
	font-family: 'Dosis-Light';
	src: 	url('../fonts/Dosis-Light.woff2') format('woff2'),
				url('../fonts/Dosis-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
%d-l{
	font-family: 'Dosis-Light', sans-serif;
	font-weight: 300;
}*/